.formwrapper {
  margin-top: 50px;
  width: 100%;
  max-width: 420px;
}

.terms {
  display: flex;
  font-size: 16px;
  text-align: left;
}

.checkbox {
  width: auto;
  margin-right: 9px;
  /* background-color: white; */
  /* border: 5px solid cyan;
  color: cyan; */
}