.button {
  font-family: Rubik, sans-serif;
  height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  max-width: 350px;
  border: none;
  padding: 15px;
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0px;
}

.button:disabled {
  background-color: var(--submit-button-background);
  color: var(--submit-button-color);
}

.button.loading {
  background-color: var(--submit-button-background);
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid var(--accent-color); /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1080px) {
  .button {
    font-size: 2rem;
    max-width: 295px;
    height: 60px;
    margin: 20px 0 30px 0;
  }
}
@media only screen and (min-width: 1600px) {
  .button {
    font-size: 2.3rem;
    max-width: 295px;
    height: 65px;
    margin: 20px 0 50px 0;
  }
}
