.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
}

.connected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 315px;
  height: 143px;
  background-color: #F5F5F5;
  border-radius: 4px;
  cursor: pointer;
}

.disconnected {
  display: flex;
  height: 143px;
  width: 315px;
  background-color: #F5F5F5;
  border-radius: 4px;
  cursor: pointer;
}

.switch {
  text-align: center;
  color: #53AF57;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
}