.description {
  margin-bottom: 60px;
}

.backButton {
  display: none;
  margin-right: 10px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 50px;
}

.backButton > svg {
  height: 44px;
  width: 30px;
}

.backButton svg > path {
  fill: var(--accent-color);
}

@media (min-width: 1301px) {
  .backButton {
    display: block;
  }
}
