.backButton {
  display: block;
  cursor: pointer;
  margin: 20px 0px 0px 20px;
}

.backButton > svg {
  height: 44px;
  width: 30px;
}

.backButton svg > path {
  fill: var(--accent-color);
}

@media (max-width: 1001px) {
  .backButton {
    margin: 10px 0px 0px 10px;
  }
  .backButton > svg {
    height: 34px;
    width: 20px;
  }
}
