.container {
  margin-top: 25px;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
}

.label {
  margin-top: 0;
  margin-bottom: 10px;
}

.widgetContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
}
